.loginuser-page {
    background-image: url(../assets/background/login/element-bottom.png),
        url(../assets/background/login/element-top.png);
    background-size: 100% 100%, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, top bottom;
    position: relative;
}

.home img {
    position: absolute;
    width: 50px;
    margin: 20px;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    background-color: #15AAE2;
    padding: 20px;
    border-radius: 30px;
}

.loginuser-card img {
    width: 50px;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
}

.loginuser-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginuser-card input {
    border-radius: 3px;
    border-color: transparent;
    margin: 5px;
}

.loginuser-card input:hover{
    background-color: black;
    color: white;
}

.loginuser-button {
    background-color: white;
    border-color: transparent;
    border-radius: 3px;
    margin: 5px;
    width: 95%;
}

.loginuser-button:hover{
    background-color: black;
    color: white;
}